<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Todo Manager</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">

	<br/>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/}" >Do stuff!</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="https://bitbucket.org/moondowner/spring-full-webapp-example/">Source</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
	 	<div class="col-md-6 col-md-offset-3">
	 		<div class="alert alert-danger" role="alert">
  				<span class="sr-only">Error:</span>
	 			<span th:text="${message}">An error happened.</span>
	 		</div>
		</div>
	</div>

</div>
</body>
</html>
