<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Todo Manager</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">

	<br/>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/}" >Do stuff!</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#" th:href="@{/}" >Add new <span class="sr-only">(current)</span></a></li>
	        <li><a href="#" th:href="@{/list}" >View all </a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search" th:action="@{/list}" method="get">
	        <div class="form-group">
	          <input type="text" name="search-param" class="form-control" placeholder="Enter some words..."></input>
	        </div>
	        <button type="submit" class="btn btn-default">Search</button>
	      </form>
   	   	  	<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
	        	<button type="submit" class="btn btn-warning">Logout</button>
	      	</form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="https://bitbucket.org/moondowner/spring-full-webapp-example/">Source</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
	 	<div class="col-md-6 col-md-offset-3">
			<form action="#" th:action="@{/}" th:object="${todo}" method="post">
			  <div class="form-group">
			    <label for="todoDescription">Add a new Todo</label>
			    <input type="text" class="form-control" th:field="*{title}" id="todoDescription" placeholder="Enter title..."></input>
			    <br th:if="${#fields.hasErrors('title')}" />
			    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-warning" role="alert">Error</div>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>

</div>
</body>
</html>
